<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column" style="float:left;padding-right:100px">
			<h3>
				简历
			</h3>
			<dl class="dl-horizontal">
				<dt>
					姓名：
				</dt>
				<dd>
					唐施华
				</dd>
				<dt>
					目前城市：
				<dd>
					北京
				</dd>
				</dt>
				<dt>
					从事行业：
				</dt>
				<dd>
					通信互联网
				</dd>
				<dt>
					技术认证：
				</dt>
				<dd>
					中级软件工程师
				</dd>
			</dl>
			<ul>
				<li>
					<strong>工作履历</strong>
				</li>
			</ul>
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>
							时间
						</th>
						<th>
							重要事项
						</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							2012/06
						</td>
						<td>
							<span>应届</span><span>校招进入北京锐捷网络公司</span>
						</td>
			
					</tr>
					<tr class="active">
						<td>
							2012/12
						</td>
						<td>
							<span>通过公司转正，负责市场活动系统，费用系统和预约管理系统。</span>
						</td>
				
					</tr>
					<tr class="success">
						<td>
							2013/01
						</td>
						<td>
							<span>推广github的使用在部门主持交流活动</span>
						</td>
		
					</tr>
					<tr class="warning">
						<td>
							2013/03
						</td>
						<td>
							<span>为公司搭建centos+gitlab资源共享平台</span>
						</td>
					
					</tr>
					<tr class="danger">
						<td>
							2013/04
						</td>
						<td>
							<span>升级费用系统</span>
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6 column">
			<h3>
				小站简介
			</h3>
			<dl>
				<dt>
					开发阶段
				</dt>
				<dd>
					文档管理(now)——>微信推送——>工具拓展.
				</dd>
				<dt>
					雕虫小技
				</dt>
				<dd>
					nodejs + mongodb + bootstrap框架.
					在文字样式处理方面引用markdown包，统一输入输出。
				</dd>
				<dd>
					很多不需要重复造轮子的模块要利用好，评论模块，统计模块等.
				</dd>
				<dt>
					站长有话说
				</dt>
				<dd>
					站名：龙蛇马羊.
					因为我爸属龙，我妈属蛇，我属马，所以希望我的另一半是属羊而组成的家庭；
					这个站我会持续维护，分享工作经验，兴趣爱好，技术应用，重点是学以致用。
				</dd>
				<dt>
					友链
				</dt>
				<dd>
					<a href="http://bearhouse.heroku.com/">熊小屋</a>  
					
				</dd>
			</dl>
		</div>
	</div>
</div>