 <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>
					<%= classify %>
				</h1>
			</div>
				<div class="accordion-inner">
						<% if(ispreview=="true"){ %>
						<form action="/backpost" method="get" id="backpost">
						<button type="submit" class="btn btn-warning" >返回</button> 
						</form>
						<% }%>
				</div>
			<div class="hero-unit well">
				<h1>
					<%= articalname %><br /><small><%= time %></small>
				</h1>
				<hr />
				<p id="tdcontent">
					<%- seeboard %><br/>
				</p>

				<!-- UY BEGIN -->
					<div id="uyan_frame"></div>
					<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1894786"></script>
				<!-- UY END -->
			</div>

			<!--以下是操作栏-->
			<% if(user){ %>
			<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle collapsed" href="#accordion-element-843944" data-toggle="collapse" data-parent="#accordion-709437">操作组</a>
					</div>
					<div class="accordion-body collapse" id="accordion-element-843944" style="height: 0px; ">
						<div class="accordion-inner">
						
						
						<a href="/delpost?postcode=<%= postcode %>">删除本文</a>
						<a href="/editpost?postcode=<%= postcode %>">编辑本文</a>
						</div>
					</div>
				</div>
			<% } %>
				<!--以上是操作栏-->
		</div>
	</div>
</div>