 <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
		<form action="/postArticals" method="post" id="addpost" class="addpost">
			<div class="page-header" align="center">
					<h1>标题</h1><textarea id="edtitle" name="edtitle" style="width:50%;height:20px" ><%= edtitle %></textarea>
			</div>
			<button type="button" class="btn btn-default btn-lg btn-block" style="width:100%;" onclick="preview()" >预览</button>
			<div class="hero-unit well">
			<small>正文</small>
				<p id="tdcontent" align="center">
					<textarea id="edpostcontent" name="edpostcontent" style="width:100%;height:300px;overflow-x:hidden" ><%= edpostcontent %></textarea>
				</p>
				<div style="float:left;width:100%;" id="edcontrol">
					<% if(isedit=="true"){ %>
					<button type="button" class="btn btn-primary btn-lg btn-block" style="width:100%;" onclick="savepost()" >保存</button>
					<% } else {%>
					<button type="submit" class="btn btn-primary btn-lg btn-block" style="width:100%;">提交</button>
					<% } %>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>