<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
			<%= title %>
		</title>
	</head>
	<body>
		<div class="container-fluid">
			


			<!-以下是动态展示栏 ->
				<div class="row-fluid">
		<div class="span12">
			<div class="carousel slide" id="carousel-566904">
				<ol class="carousel-indicators">
					<li class="active" data-target="#carousel-566904" data-slide-to="0">
					</li>
					<li data-target="#carousel-566904" data-slide-to="1">
					</li>
					<li data-target="#carousel-566904" data-slide-to="2">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="https://raw.github.com/Tsher/GedichtBilder/master/IndexImage/page1.jpg" />
						<div class="carousel-caption">
							<h4>
								德国纽伦堡
							</h4>
							<p>
								一座很向往的城堡.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="https://raw.github.com/Tsher/GedichtBilder/master/IndexImage/page2.jpg" />
						<div class="carousel-caption">
							<h4>
								唐记影院公告
							</h4>
							<p>
								本月站长最爱的三部电影.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="https://raw.github.com/Tsher/GedichtBilder/master/IndexImage/page3.jpg" />
						<div class="carousel-caption">
							<h4>
								私人阅读录
							</h4>
							<p>
								Wer nichts weiß und weiß,dass er nichts weiß,der ist bescheiden.
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-566904" data-slide="prev">‹</a> <a class="right carousel-control" href="#carousel-566904" data-slide="next">›</a>
			</div>
		</div>
	</div>
<!--以下是操作栏 -->
<!-- 只让user且为Tsher登入-->
	<% if(user){
	if(user.name=="Tsher"){ %>

<!--以下是分类添加-->
<form role="form" action="/addtheme" method="post" id="addtheme" class="addtheme">
  <div class="form-group">
    <label for="lbtheme">主题</label>
    <input  class="form-control" id="lbtheme" name="theme" placeholder="Theme Name">
  </div>
  <div class="form-group">
    <label for="lbtags">标签</label>
    <input  class="form-control" id="lbtags" name="tags" placeholder="tags Name">
  </div>
    <div class="form-group">
    <label for="piclink">图源</label>
    <input  class="form-control" id="piclink" name="link" placeholder="picture Link">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<!--以上是分类添加-->

<div class="row-fluid">
		<div class="span12">
			<div class="accordion" id="accordion-709437">
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle" href="#accordion-element-403837" data-toggle="collapse" data-parent="#accordion-709437">写点</a>
					</div>
					<form action="/poststore" method="post" id="addpost">
					<div class="accordion-body collapse in" id="accordion-element-403837">
						<div class="accordion-inner">
			<textarea id="txtcontent" name="txtcontent"></textarea>
							<hr />
							<button type="submit">保存</button>
						</div>
					</div>
					</form>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle" href="#accordion-element-843944" data-toggle="collapse" data-parent="#accordion-709437">看板</a>
					</div>
					<div class="accordion-body collapse" id="accordion-element-843944">
						<div class="accordion-inner">
						<% if(seeboard){ %>
						<%- seeboard %>
						<% }%>
						<% if(!seeboard){ %>
						Anim pariatur cliche... 这样下去是没有前途的！
						<% }%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% }
	} %>


			<div class="row-fluid">
				<div class="span12">
			<div class="row-fluid">
				<div class="span4">
					<form class="form-search form-inline">
						<input class="input-medium search-query" type="text"> <button class="btn" type="submit">Search</button>
					</form><img alt="140x140" src="http://pic.cnitblog.com/avatar/a467451.jpg?id=12205645" >
					<hr>
					<ol>
						<li>Lorem ipsum dolor sit amet
						</li>
						<li>Consectetur adipiscing elit
						</li>
						<li>Integer molestie lorem at massa
						</li>
						<li>Facilisis in pretium nisl aliquet
						</li>
						<li>Nulla volutpat aliquam velit
						</li>
						<li>Faucibus porta lacus fringilla vel
						</li>
						<li>Aenean sit amet erat nunc
						</li>
						<li>Eget porttitor lorem
						</li>
					</ol>
					<hr >
					<address>
						<strong>联系方式</strong><br>
						Email：tshersteven@gmail.com<br>
						Addr : 北京 西城区
					</address>
				</div>
				<div class="span8">
					<div class="media well">
						<a class="pull-left" href="#"><img class="media-object" alt="" src="http://lorempixel.com/64/64/"></a>
						<div class="media-body">
							<h3 class="media-heading">
								配置
							</h3>  Gitlab  &amp;  MongoDB  &amp;  Gitserver  &amp;  Appfog+Nodejs  &amp;  微信公共平台  .
						</div>
					</div>
					<div class="media well">
						<a class="pull-left" href="#"><img class="media-object" alt="" src="http://lorempixel.com/64/64/"></a>
						<div class="media-body">
							<h3 class="media-heading">
								语言
							</h3>  C#  &amp;  C++  &amp;  Nodejs  &amp;  Vbscript  &amp;  Javascript  &amp;  Deutsch.
						</div>
					</div>
					<div class="media well">
						<a class="pull-left" href="#"><img class="media-object" alt="" src="http://lorempixel.com/64/64/"></a>
						<div class="media-body">
							<h3 class="media-heading">
								料理
							</h3>  可乐鸡翅  &amp;  山药排骨汤  &amp;  日本寿司  &amp;  墨西哥烤肉  &amp;  韩国烧烤.
						</div>
					</div>
					<div class="media well">
						<a class="pull-left" href="#"><img class="media-object" alt="" src="http://lorempixel.com/64/64/"></a>
						<div class="media-body">
							<h3 class="media-heading">
								旅行
							</h3>  居庸关长城  &amp;  故宫  .
						</div>
					</div>
								<div class="pagination">
				<ul>
					<li>
						<a href="#">Prev</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">Next</a>
					</li>
				</ul>
			</div>
				</div>
			</div>
		</div>
	</body>
</html>