<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
			<%= title %>
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0 ,user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content=""><!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
		<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
		<!--script src="js/less-1.3.3.min.js"></script-->
		<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
		<link href="/libs/bootstrap/src/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/libs/bootstrap/src/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
		<link href="/libs/bootstrap/src/css/style.css" rel="stylesheet" type="text/css"><!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
  <![endif]-->
		<!-- Fav and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/libs/bootstrap/src/img/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/libs/bootstrap/src/img/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/libs/bootstrap/src/img/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="/libs/bootstrap/src/img/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="/libs/bootstrap/src/img/favicon.png">
		<script type="text/javascript" src="/libs/bootstrap/src/js/jquery.min.js">
</script>
		<script type="text/javascript" src="/libs/bootstrap/src/js/bootstrap.min.js">
</script>
		<script type="text/javascript" src="/libs/bootstrap/src/js/scripts.js">
</script>
<script type="text/javascript">
$(document).ready(function(){
		$("#Panel_login").hide();
		});
function regedit(){
	$("#Panel_login").show();
	$("#regeditpage").show();
	$('#loginpage').hide();
}
function login(){
	$("#Panel_login").show();
	$("#regeditpage").hide();
	$('#loginpage').show();
}

function preview(){
	var form = $(".addpost");
	form.attr("action","/preview");
	form.submit();
}

function savepost(){
	var form = $(".addpost");
	form.attr("action","/updatepost");
	form.submit();
}
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
			<div class="navbar navbar-inverse">
				<div class="navbar-inner">
					<div class="container-fluid">
						 <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a> <a class="brand" href="/">						<h1>
							龙蛇马羊 <small>——"骆驼，狮子，小孩"</small>
						</h1></a>
						<div class="nav-collapse navbar-responsive-collapse collapse">
							<ul class="nav">
								<li class="active">
									<a href="/">主页</a>
								</li>
								<li>
									<a href="/getArticallist">博客集</a>
								</li>
								<li>
									<a><span style="text-decoration:line-through;">博文存档</span></a>
								</li>
								<li>
									<a href="/aboutme">关于本站</a>
								</li>
								
										<% if (!user) { %>
										<li>
											<a onclick="login()" href="#">登录</a>
										</li>
										<li>
											<a onclick="regedit()" href="#">注册</a>
										</li><% } else { %>
										<li>
											<a href='javascript:;'>欢迎您,<%= user.name%></a>
										</li>
										<li>
											<a href="/logout">退出</a>
										</li><% } %>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<blockquote>
						<p>
							人类是一根系在动物和超人之间的绳索，一根悬在深谷上的绳索。往彼端去是危险的，停在半途是危险的，向后望也是危险的，战栗或者不前进，都是危险的。
						</p><small>查拉图斯特拉在彩牛城如是说</small>
			</blockquote>
			<hr />
			</div>
			</div>
			<% if (success) { %>
        		<div class="alert alert-success">
          			<%= success %>
        		</div>
      		<% } %>
      		<% if (error) { %>
        	<div class="alert alert-error">
          			<%= error %>
        	</div>
      		<% } %>
			<div class="row-fluid" id='Panel_login'>
			<div class="span8">
					<%- partial('regedit') %>
					<%- partial('login') %>
					<hr />
			</div>
			<div class="span4">
					<img alt="140x140" src="http://lorempixel.com/140/140/">
			</div>
			</div>
			
			<%- body %>
			</div>
			</div>
			<hr>
			<footer>
				<p>
					© Tsher 2014
				</p>
			</footer>
			<input id="ispreview" type="hidden" value="< ispreview %>" /> 
		</div>
	</body>
</html>