
<div class="container">
			<div class="row clearfix">
				<div class="col-md-3 column">
					<table class="table table-hover" style="width:100%">
					<tbody>
					<% if(user){ %>
					<form action="/eblogs">
							<tr>
								<td><button type="submit" class="btn btn-success">新日志</button></td>
							</tr>
					</form>
					<% }%>
						<% classifies.forEach(function(classify,index){ %>
							<tr><td><%= classify %></td></tr>
						<% }) %>
						</tbody>
					</table>
				</div>

				<div class="col-md-9 column">
				<% posts.forEach(function(post, index) {
if (index % 3 == 0) { %>
<div class="row">
<%} %>
<div class="span4">
<h3><%= post.postname %></h3>
<p><small><%= post.time %></small></p>
<p><%= post.postcontent %></p>
<p><a class="btn" href="/getdetail?postcode=<%= post.code %>">View details »</a></p>
</div>
<% if (index % 3 == 2) { %>
</div><!-- end row -->
<% } %>
<%}) %>
<% if (posts.length % 3 != 0) { %>
</div><!-- end row -->
<%} %>

			</div>
</div>



