<form class="form-horizontal" action="/login"  method="post" id="loginpage">
						<div class="control-group">
							<label class="control-label" for="username">用户名</label>
							<div class="controls">
								<input id="username" type="text"  name="username">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputPassword">密码</label>
							<div class="controls">
								<input id="inputPassword" type="password"  name="password">
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<label class="checkbox"><input type="checkbox"  name="remember"> 记住我</label> <button class="btn btn-primary" type="submit">登陆</button>
							</div>
						</div>
					</form>	