<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span8">
			<ul class="breadcrumb">
				<li>
					<a href="#">Home</a> <span class="divider">/</span>
				</li>
				<li>
					<a href="#">Library</a> <span class="divider">/</span>
				</li>
				<li class="active">
					Data
				</li>
			</ul>
			<h2>
				<%= Title %>
				<br />
				<small><%= time %></small>
			</h2>
			<p>
				<%= Content %>
			</p>
		</div>
		<div class="span2">
		</div>
	</div>
</div>