<form class="form-horizontal"  action="/reg" method="post" id="regeditpage">
    <div class="control-group">
      <label class="control-label" for="username">用户名</label>
      <div class="controls">
        <input type="text" id="username" name="username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">密码</label>
      <div class="controls">
        <input type="password" id="password" name="password">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password-repeat">重复密码</label>
      <div class="controls">
        <input type="password" id="password-repeat" name="password-repeat">
      </div>
    </div>
    <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">注册</button>
    </div>
    </div>
</form>